@font-face {
  font-family: 'BagelFatOne';
  src: url('../assets/fonts/DFVN Bagel Fat One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}