.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 2px dashed #000;
    margin-bottom: 12px;
}

.cart-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.cart-item .out-of-stock::after {
    font-size: 12px;
}

.cart-item-im {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    cursor: pointer;
}

.cart-item-im .cart-item-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.item-details {
    margin-left: 20px;
    line-height: 1.5;
}

.item-details .item-title {
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.item-details .item-title:hover {
    color: #0B70FE;
}

.item-details .item-title:active {
    color: rgba(11, 112, 254, 0.5);
}

.item-details .item-price {
    font-size: 14px;
    font-weight: 500;
}

.item-qty {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-qty #item-qty-input {
    background-color: transparent;
    width: 40px;
    max-width: 50px;
    text-align: center;
    padding: 2px 4px;
    font-size: 12px;
    font-family: "Noto Sans JP", sans-serif;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    ime-mode: disabled;
}

.item-qty .qty-btn {
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qty-btn .qty-icon {
    font-size: 12px;
}

.item-details .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}