.products {
    min-height: calc(100vh - 60px);
    padding: 60px 0;
    overflow: hidden;
}

.products .product-banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.products .product-banner img {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
}

.product-content {
    width: 80%;
    margin: 0 auto;
}

.product-content .product-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    padding: 24px;
    margin-bottom: 24px;
}
.product-nav p {
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.2s ease;
}

.product-nav .product-all,
.product-nav .product-keychains{
    border-right: 2px solid #ccc;
}

.product-content .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.product-nav .active {
    font-weight: bold;
    text-decoration: underline;
}